#coin-img{
    width: 150px;
    height: 150px;
}

.home-h1{
    position: relative;
    top: 61px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding: 13px;
}