input[type='file']{
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

#open-file {
    border: none;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    background: #0d45a5;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  input[type=file]::file-selector-button:hover {
    background: #0caa24;
  }