header{
    background-color: rgb(6, 6, 75);
    color: #fff;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;

}

header a{
    text-decoration: none;
    color: #fff;
}



ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;    
}